<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <title>scavino.org</title>
    {% include "head.njk" %}
  </head>
  <body id="top">
    {{ content | safe }}
    <script src="/js/bootstrap.js"></script>
    {% include "footer.njk" %}
    {% include "js.njk" %}
  </body>

  {% getBundle "fontawesome" %}

</html>