---
layout: base.njk
isFront: true
title: Home
---

<!-- Jumbotron -->
<div class="full-screen-background p-5 text-center shadow-1-strong rounded mb-5 text-white">
    <h1 class="mb-3">scavino.org</h1>

    <h2>
       Providing services you may or may not need.
    </h2>
    <div class="card-group">
            <div class="card">
            <div class="card-body">
                <img class="card-img-top rounded-circle" src="/img/varsity-logo.png" alt="Java Tutoring">
                <h5 class="card-title">Java Tutoring</h5>
                <p class="card-text">Learn Java from a real-world US based software developer/instructor. English as a first language</p>
                <a href="https://www.varsitytutors.com/tutors/879685136" class="btn btn-primary">Find Me on Varsity</a>
            </div>
        </div>
            <div class="card">
                <div class="card-body">
                    <img class="card-img-top rounded-circle" src="/img/consulting.png" alt="Consulting">
                    <h5 class="card-title">Fullstack Developer(Java, Angular, AWS, SQL)</h5>
                    <p class="card-text">Contracting available</p>
                    <a href="https://www.linkedin.com/in/hugoscavino/" class="btn btn-primary">LinkedIn</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top rounded-circle " src="/img/djgo2020.png" alt="Music DJ">
                <div class="card-body">
                    <h5 class="card-title">Smally Party Music DJ</h5>
                    <p class="card-text">Spinning records for your party</p>
                    <a href="https://www.linkedin.com/in/hugoscavino/" class="btn btn-primary">DJ GO</a>
                </div>
            </div>
    </div>
</div>
